# Development related
.vscode/
.idea/
node_modules/
tests/

# Source files
*.ts
*.tsx
src/
public/

# config
tsconfig.json
vite.config.js
pnpm-lock.yaml
index.html
.gitignore
.nvmrc

# Exclude any other development-specific files or directories

# Include necessary files
!dist/
!README.md
!package.json
!index.d.ts
!license