body {
    margin: 0;
    padding: 0;
}

.maplibregl-ctrl-bottom-left {
    align-items: flex-end;
    bottom: 10px;
    display: flex;
    left: 10px;
}

.maplibregl-ctrl-bottom-left .compass-pro {
    margin-right: 0.5rem;
}

.panel {
    display: flex;
    left: 10px;
    position: absolute;
    top: 10px;
}

.panel select {
    margin-right: 5px;
}